<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Flask Plotlyjs Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="background-image: url(https://ak0.picdn.net/shutterstock/videos/31208620/thumb/1.jpg);background-size: 100%; height: 100%;">
     <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center"
                style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8bqrX_veDNg4MqEfMpjVZrHUrZU8oRxd5DWN9L79v2Gc64J6V); height: 100%;">
                <h1 style="font-weight: bold ;">Internet & Social Media Usage</h1>
                <p>Use the interactive charts below to explore the dataset</p>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" >
                <div class="well" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU-iPHLEwc_K9QFQNgoHVS-xOf0qpoFuIwsZyKBKt2OwO6a-6j); height: 100%;">
                    <h4 >SELECT Country:</h4>
                    <select id="selectButton" onchange="optionChanged(this.value)" ></select>
        
                    <h3> How many internet users does each country have?</h3>
                    <p> The internet has been one of our most transformative and fast-growing technologies.</p>
                    <p>Select any
                        country and below shows how its users have changed over time.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div id="mydiv" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <pre id="json"></pre>
                <div id="chartContainer" style="height: 500px; width: 100%;margin-left: 10px; margin-right: 10px;"></div>
                <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
                <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </div>
            <div class="col-md-3">
                    <pre id="json"></pre>
                <div class="well" style= "background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU-iPHLEwc_K9QFQNgoHVS-xOf0qpoFuIwsZyKBKt2OwO6a-6j); height: 100%;">
                    <h3> Social media use</h3>
                    <p> Facebook, the largest social media platform in the world, has 2.4 billion users. Other social media
                        platforms including Youtube and Whatsapp also have more than one billion users each</p>
                    <p>In the interactive chart we plot active users, by platform, since 2004. You can click
                        on the option to change series and track the evolution
                        of other social media platforms.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <pre id="json"></pre>
                <div class="well"
                    style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU-iPHLEwc_K9QFQNgoHVS-xOf0qpoFuIwsZyKBKt2OwO6a-6j); height: 100%;">
                    <h3> Daily time spent on the internet by young people</h3>
                    <p> This chart shows the number of hours young people spend on the internet across a selection of rich
                        countries. </p>
                </div>
            </div>
            <div class="col-md-9">
                <pre id="json"></pre>
                <div id="myDiv" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <pre id="json"></pre>
                <div id="bubble" style="width: 100%; height: 500px;""></div>
            </div>
            <div class="col-md-3">
                <pre id="json"></pre>
                <div class="well"
                    style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU-iPHLEwc_K9QFQNgoHVS-xOf0qpoFuIwsZyKBKt2OwO6a-6j); height: 100%;">
                    <h3> Some social media sites are particularly popular among specific population groups</h3>
                    <p> The next chart shows the percentage of men and women who use different platforms in the US.</p>
                    <p>The share of women who use Pinterest is more than twice as high as the share of men using this platform. For
                        Reddit it is the other way around, the share of men is almost twice as high. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <h5>SELECT Sample:</h5>
    <select id="selectButton" onchange="optionChanged(this.value)"></select>

    <div id="mydiv" style="width: 100%; height: 500px;">
    </div>

    <pre id="json"></pre>
    <div id="chartContainer" style="height: 500px; width: 100%;"></div>


    <div id="myDiv" style="width: 100%; height: 500px;">
    </div>

    <div id="bubble" style="width: 80%; height: 500px;">
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>